@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li><a href="/NashTech/Rookies/Index">Rookies Home</a></li>
        <li><a href="/NashTech/Rookies/GetAll">Get All</a></li>
        <li><a href="/NashTech/Rookies/GetMales">Get Males</a></li>
        <li><a href="/NashTech/Rookies/GetOldest">Get Oldest</a></li>
        <li><a href="/NashTech/Rookies/GetFullNames">Get Full Names</a></li>
        <li><a href="/NashTech/Rookies/GetByBirthYear?year=2000">Get By Birth Year 2000</a></li>
        <li><a href="/NashTech/Rookies/GetByBirthYearGreaterThan?year=2000">Get By Birth Year Greater Than 2000</a></li>
        <li><a href="/NashTech/Rookies/GetByBirthYearLessThan?year=2000">Get By Birth Year Less Than 2000</a></li>
        <li><a href="/NashTech/Rookies/DownloadExcel">Download Excel</a></li>
    </ul>
</div>
